body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, goldenrod, rebeccapurple, cornflowerblue);
  animation: bg-animation 25s infinite;
  background-size: 300%;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  place-items: center;
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.title_wrap {
}

.title {
  grid-row: 1;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 1.5rem;
  max-width: 700px;
  animation: drop-title ease 1s forwards;
}

.video {
  grid-row: 2;
}
.camera {
  border-radius: 30px;
  /* aspect-ratio: 16 / 9; */
  width: calc(100% - 3rem);
  max-width: 700px;
  margin: 0 1.5rem;
}

@keyframes drop-title {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
